.book_index_show_all {
  display: flex;
  flex-wrap: wrap;
}

.book_index_cover_image {
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  object-fit: contain;
  width: 120px;
  height: 192px;
}
