.bookshelves-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 10px;
  min-height: 100%;
  width: 140px;
  position: relative;
}

.bookshelves-header {
  color: #AAAAAA;
  font-size: 20px;
}

.shelf-text-input {
  border:1px solid black;
  width: 100px;
  margin: 3px;
  border-radius: 5%;
  background-color: white;
}

.shelf-add-button {
  border: 1px solid black;
  border-radius: 10%;
  background-color: #d6d4d5;
  padding: 2px;
}

.shelf-text {
  color: #00635D;
}

.shelf-text:hover {
  text-decoration: underline;
}
