.home {
  display: flex;
  justify-content: center;
}
.books_index_container {
//
}
.book_index_show_all {
  display: flex;
  justify-content: left;
  max-width: 800px;
  object-fit: contain;
  flex-wrap: wrap;
}

.book_index_cover_image {
  position: relative;
  float: left;
  margin-left: 50px;
  margin-top: 40px;
  object-fit: cover;
  width: 120px;
  height: 192px;
  // box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 8px 8px 8px #a09f9f;
  filter: contrast(107%);

}
