
.alert {
  padding: 10px;
  color: black;
  margin-bottom: 15px;
  align-items: center;
  float: right;
  z-index: 1;
  margin-right: 20px;
  position: absolute;
  right:50px;
  top:100px;
  background-color: rgba(0,0,0,0.60);
  border-radius: 20px;
  bottom-margin: 10px;

}

.alert-text {
  color: white;
}
