
.search-input {
  justify-content: left;
  margin-top: 20px;
  margin-left: 5%;
  background-color: white;
  border: 5px solid #dadada;
  border-radius: 7px;
}

.search-input > input {
  width: 95%;
  font-size: 18px;
  border: none;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  background-color: white;
  position: relative;
}

.search-input > input:focus {
  outline: blue;
  border-color: #9ecaed;
  box-shadow: 0 0 15px #9ecaed;
}
