html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
	background-color: #DFDAC7;
  font-family: 'Montserrat', sans-serif;
}


.login-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	clear: both;
	width: 100%;
	justify-content: space-between;
	height: 70px;
	background-color: #DFDAC7;
	box-shadow: 0px 3px rgba(0,0,0,0.15);
}


.logo {
	display: flex;
	float: left;
	justify-content: left;
	margin-left: 30px;
	margin-right: 10px;
	align-items: center;
	font-size: 20px;
}

.login-form-right {
	display: flex;
	float: right;
	align-items: center;
}

.main-logo-text {
	font-size: 20px
}

.create-user-container {
	width: 100%;
	height: 400px;
	background-size: cover;
	background-image: url("http://res.cloudinary.com/booklog/image/upload/v1489616152/pexels-photo-218923_ke8ltg.jpg")
}

.create-user-form {
	margin-top: 50px;
	margin-right: 50px;
	display: flex;
	float: right;
	align-items: center;
	flex-direction: column;
	color: black;
}

.form-input {
	padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
	radius: 5%;
	padding-right: 15px;
	margin-right: 15px;
	font-size: 13px;
}

.form-input:focus {
	border: solid 1px #707070;
	bottom: box-shadow: 0 0 5px 1px #969696;
	radius: 5%;
}

.login-button {
	border : solid 0px #000000;
	border-radius : 5px;
	moz-border-radius : 5px;
	font-size : 20px;
	color : #ffffff;
	padding : 4px 17px;
	background-color : #101112;
	margin-right: 20px;
}

.login-button:hover {
	background-color: #683F19;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
