<!DOCTYPE html>
<html>
  <head>
    <title>BookLog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="icon"
      type="image/png"
      href="https://res.cloudinary.com/booklog/image/upload/v1489682067/open-book16_ttkvpy.png">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
